* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Montserrat", sans-serif;
}

body {
    background: #eee;
    padding: 0 16px;
}

header {
    background-image: linear-gradient(to right, #000000, #434343);
    margin: auto -16px;
    padding: 16px 32px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
    color: #fff;
    font-family: "McLaren", cursive;
    font-weight: 200;
}

footer {
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

footer p {
    color: #ccc;
}

.note {
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: 20%;
    margin: 16px;
    float: left;
}

.note h1 {
    font-size: 1.1em;
    margin-bottom: 6px;
}

.note p {
    font-size: 1.1em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.note button {
    text-transform: uppercase;
    color: #3dd1f2;
    background-color: transparent;
    border: none;
    outline: none;
    vertical-align: sub;
    margin: 5px;
    float: right;
    cursor: pointer;
}

form {
    background-color: white;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
    width: 25%;
    padding: 15px;
    position: relative;
    margin: 30px auto 20px auto;
}

form input, textarea {
    width: 90%;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    font-family: inherit;
    resize: none;
    font-size: 1.2em;
}

form button {
    position: absolute;
    right: 18px;
    bottom: -18px;
    background-image: linear-gradient(to right, #000000, #434343);
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
}